In [1]:
import pandas as pd

df = pd.read_csv("data/all_energy_statistics.csv")
gr_df = pd.read_csv("data/greenhouse_gas_inventory_data_data.csv")

display(df)
display(gr_df)

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates
...,...,...,...,...,...,...,...
1189477,Viet Nam,Electricity - total wind production,2012,"Kilowatt-hours, million",92.0,1.0,wind_electricity
1189478,Viet Nam,Electricity - total wind production,2011,"Kilowatt-hours, million",87.0,NaN,wind_electricity
1189479,Viet Nam,Electricity - total wind production,2010,"Kilowatt-hours, million",50.0,NaN,wind_electricity
1189480,Viet Nam,Electricity - total wind production,2009,"Kilowatt-hours, million",10.0,NaN,wind_electricity
1189481,Viet Nam,Electricity - total wind production,2008,"Kilowatt-hours, million",1.0,NaN,wind_electricity

,country_or_area,year,value,category
0,Australia,2014,393126.946994,carbon_dioxide_co2_emissions_without_land_use_...
1,Australia,2013,396913.936530,carbon_dioxide_co2_emissions_without_land_use_...
2,Australia,2012,406462.847704,carbon_dioxide_co2_emissions_without_land_use_...
3,Australia,2011,403705.528314,carbon_dioxide_co2_emissions_without_land_use_...
4,Australia,2010,406200.993184,carbon_dioxide_co2_emissions_without_land_use_...
...,...,...,...,...
8401,United States of America,1994,593.222570,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8402,United States of America,1993,586.939752,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8403,United States of America,1992,574.414624,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8404,United States of America,1991,566.900968,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8405,United States of America,1990,293.205663,unspecified_mix_of_hydrofluorocarbons_hfcs_and...

In [2]:
# filters to wanted years
df = df.loc[(df['year'] > 1990) & (df['year'] < 2014)]
all_country = df['country_or_area'].unique()

# filters, renames countries with multiple names
gr_df = gr_df.loc[(gr_df['year'] > 1990) & (gr_df['year'] < 2014)]
gr_df['country_or_area'] = gr_df['country_or_area'].replace('United States of America', 'United States')
gr_df['country_or_area'] = gr_df['country_or_area'].replace('Czech Republic', 'Czechia')

gr_country = gr_df['country_or_area'].unique()

# only keeps countries that are overlapped between the two datasets
overlap = []
non = []

for country in gr_country:
    if country in all_country:
        overlap.append(country)
    else:
        non.append(country)
        
print(overlap)
print(non)

df = df.loc[df['country_or_area'].isin(overlap)]
df

['Australia', 'Austria', 'Belarus', 'Belgium', 'Bulgaria', 'Canada', 'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Japan', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russian Federation', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'Ukraine', 'United Kingdom', 'United States']
['European Union', 'Monaco']

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates
5,Belgium,Additives and Oxygenates - Exports,2011,"Metric tons, thousand",25.0,NaN,additives_and_oxygenates
...,...,...,...,...,...,...,...
1189455,United States,Electricity - total wind production,1995,"Kilowatt-hours, million",3196.0,NaN,wind_electricity
1189456,United States,Electricity - total wind production,1994,"Kilowatt-hours, million",3483.0,NaN,wind_electricity
1189457,United States,Electricity - total wind production,1993,"Kilowatt-hours, million",3053.0,NaN,wind_electricity
1189458,United States,Electricity - total wind production,1992,"Kilowatt-hours, million",2917.0,NaN,wind_electricity
1189459,United States,Electricity - total wind production,1991,"Kilowatt-hours, million",3051.0,NaN,wind_electricity

In [4]:
commodities = df['commodity_transaction'].unique()
#display(len(commodity_csv))
# over 1000 diff types of commodities recordes, this code counts how many of each there are
# serves as a start to pick good categories that describe clean energy
coms = []
nums = []
for com in commodities:
    coms.append(com)
    num = len(df.loc[df['commodity_transaction'] == com])
    nums.append(num)
    
coms_df = pd.DataFrame({
    "commodity": coms,
    "num of obs": nums
})

sorted_coms = coms_df.sort_values(by = 'num of obs', ascending = False)
display(sorted_coms)
sorted_coms.to_csv("processed data\coms.csv")

                                              commodity  num of obs
999              From combustible fuels â€“ Main activity        1623
996               From combustible fuels â€“ Autoproducer        1365
1000  From combustible fuels â€“ Main activity â€“ CHP p...        1301
997   From combustible fuels â€“ Autoproducer â€“ CHP pl...        1150
2195  Electricity - Own use by electricity, heat and...         917
...                                                 ...         ...
1545  Of which: biodiesel - Transformation in CHP pl...           1
1980  Peat Products - Consumption by non-ferrous met...           1
1372    Naphtha - Consumption by non-metallic minerals            1
557   Conventional crude oil - consumption by mining...           1
337   Brown coal briquettes - Receipts from other so...           1

[2264 rows x 2 columns]

In [5]:
gr_df['category'].unique()
# takes only the greenhouse gas data, could also do co2
gr_df = gr_df.loc[gr_df['category'] == 'greenhouse_gas_ghgs_emissions_including_indirect_co2_without_lulucf_in_kilotonne_co2_equivalent']
gr_df = gr_df[['country_or_area', 'year', 'value']]

In [6]:
# lists of important commodities to research

clean_energy_com = [
    'Biogases - Final energy consumption',
    'Biogases - Production'
    'Direct use of solar thermal heat - Final energy consumption',
    'Electricity - total solar production',
    'Electricity - total wind production',
    'Direct use of geothermal heat - Final energy consumption',
    'Electricity - total hydro production'
]
fossil_energy_com = [
    'Liquified Petroleum Gas (LPG) - Final energy consumption',
    'Gas Oil/ Diesel Oil - Final energy consumption',
    'Motor Gasoline - Final energy consumption',
    'Hard coal - final energy consumption',
    'Natural Gas (including LNG) - final energy consumption','Heat - Final energy consumption',
    'Petroleum Coke - Final energy consumption','Electricity - total nuclear production',
]
misc_energy_com = [
    'Electricity - Gross demand',
    'Electricity - Gross production',
]

combined_com = clean_energy_com + fossil_energy_com + misc_energy_com
combined_com

['Biogases - Final energy consumption',
 'Biogases - ProductionDirect use of solar thermal heat - Final energy consumption',
 'Electricity - total solar production',
 'Electricity - total wind production',
 'Direct use of geothermal heat - Final energy consumption',
 'Electricity - total hydro production',
 'Liquified Petroleum Gas (LPG) - Final energy consumption',
 'Gas Oil/ Diesel Oil - Final energy consumption',
 'Motor Gasoline - Final energy consumption',
 'Hard coal - final energy consumption',
 'Natural Gas (including LNG) - final energy consumption',
 'Heat - Final energy consumption',
 'Petroleum Coke - Final energy consumption',
 'Electricity - total nuclear production',
 'Electricity - Gross demand',
 'Electricity - Gross production']

In [7]:
# filters data so only wanted data is in df, rearanges data nto more readable form
filter_df = df.loc[df['commodity_transaction'].isin(combined_com)]
filter_df = filter_df[['country_or_area', 'commodity_transaction', 'year', 'quantity']]
filter_df = filter_df.pivot_table(index=['country_or_area', 'year'], columns='commodity_transaction', values='quantity').reset_index()
filter_df.columns.name = None
filter_df

,country_or_area,year,Biogases - Final energy consumption,Direct use of geothermal heat - Final energy consumption,Electricity - Gross demand,Electricity - Gross production,Electricity - total hydro production,Electricity - total nuclear production,Electricity - total solar production,Electricity - total wind production,Gas Oil/ Diesel Oil - Final energy consumption,Hard coal - final energy consumption,Heat - Final energy consumption,Liquified Petroleum Gas (LPG) - Final energy consumption,Motor Gasoline - Final energy consumption,Natural Gas (including LNG) - final energy consumption,Petroleum Coke - Final energy consumption
0,Australia,1991,NaN,NaN,146470.0,156818.0,16103.0,NaN,NaN,NaN,7463.0,2631.0,NaN,1039.0,12389.0,391025.0,NaN
1,Australia,1992,NaN,NaN,148523.0,159545.0,15768.0,NaN,NaN,NaN,7651.0,2617.0,NaN,1233.0,12451.0,399910.0,NaN
2,Australia,1993,NaN,NaN,152606.0,163650.0,16953.0,NaN,11.0,NaN,7923.0,2491.0,NaN,1365.0,12552.0,410311.0,NaN
3,Australia,1994,NaN,NaN,156615.0,167463.0,16649.0,NaN,13.0,4.0,8188.0,2602.0,NaN,1507.0,12776.0,428827.0,NaN
4,Australia,1995,NaN,NaN,161732.0,173159.0,16239.0,NaN,16.0,7.0,8447.0,2423.0,NaN,1714.0,12957.0,450273.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,United States,2009,105716.0,9179.0,3985365.0,4188214.0,298410.0,830210.0,2514.0,74226.0,172523.0,26244.0,284430.0,8960.0,385333.0,13681693.0,NaN
913,United States,2010,1799.0,9285.0,4153664.0,4378422.0,286333.0,838931.0,3934.0,95148.0,180625.0,28026.0,277884.0,9361.0,396938.0,14413881.0,NaN
914,United States,2011,1728.0,9285.0,4142125.0,4349571.0,344679.0,821405.0,6153.0,120854.0,181704.0,24606.0,278072.0,9537.0,388033.0,14449889.0,NaN
915,United States,2012,1945.0,17687.0,4099686.0,4290660.0,298287.0,801129.0,10145.0,141922.0,181180.0,21813.0,273652.0,17050.0,382800.0,13874404.0,3856.0
916,United States,2013,13376.0,18268.0,4128465.0,4306371.0,290113.0,822004.0,15872.0,169713.0,180505.0,22538.0,245688.0,23308.0,383296.0,15156179.0,2649.0

In [8]:
# merges with gr gas df by country and year, keeps only data that have both
merged_df = pd.merge(filter_df, gr_df, on=['country_or_area', 'year'], how='inner')
merged_df.to_csv('processed data\merged.csv', index=False)

<>:3: SyntaxWarning: invalid escape sequence '\m'
<>:3: SyntaxWarning: invalid escape sequence '\m'
C:\Users\siems\AppData\Local\Temp\ipykernel_12340\4147885158.py:3: SyntaxWarning: invalid escape sequence '\m'
  merged_df.to_csv('processed data\merged.csv', index=False)